@ SOA {{ domainname }}. root.tr-web-01.{{ domainname }}. (1 7200 30M 3D 900)
{{ domainname }}. NS ns1.{{ domainname }}.
{{ domainname }}. NS ns2.{{ domainname }}.
{{ domainname }}. 60 DYNA metafo!ip0
{{ domainname }}. MX  0 tr-web-01.{{ domainname }}.
{{ domainname }}. MX  100 tr-web-02.{{ domainname }}.
